The following new files/directories were created:
<Test Directory>
----.copier-answers.yml
----.github
--------renovate.json5
--------workflows
------------libbuild.yml
----.gitignore
----.pre-commit-config.yaml
----bin
--------version
----kitchen.yml
----post.mk
----pre.mk
----root.mk
----upload
--------main.pkr.hcl
